$theme-colors:(
	"primary" : #774BA3,
	"secondary" : #67B0E5
	);

@import '../../node_modules/bootstrap/scss/bootstrap';
// -----------------------------------------General----------------------------------------------//
body {
	font-family: 'Asap', sans-serif;
	box-sizing: border-box;
}
.navbar.navbar-expand-lg.mobile-nav {
	background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
	opacity: .9;
}

img.brand-logo {
	width: 5%;
	margin-right: 5px;
}

.navbar .nav-link .dropdown-item {
	color: #311F42;
}

.nav-item .nav-link:hover {
	font-weight: 600;
	font-size: 1.05rem;
}

.navbar .nav-item.active {
	color: white;
	font-weight: 600;
	text-decoration: underline;
}

div .dropdown-menu {
	background: #F5EFFC;

	.dropdown-item:hover {
		font-weight: 600;
		font-size: 1.05rem;
	}
}

li.dropdown.show {
	font-weight: 600;
	font-size: 1.05rem;
}

.header-section {
	position: relative;
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.header-section .heading {
	position: relative;
	z-index: 1;
	max-width: 900px;
	text-align: center;
	left:12%;
	margin-top: -5%;
}

.header-section .heading h1 {
	padding: 0;
	color: #fff;
	font-size: 6rem;
	font-weight: bold;

}

footer {
	background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
}

//-------------------------------------------- Home page ---------------------------------------//
.index-header.scroll-header:before, {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	padding-top:0;
	background: url("../images/kids5-2.jpg");
	background-size: 140vh;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
	transform: scalex(1.5);
}

.index-header .navbar.navbar-expand-lg {
	position: sticky;
	background: transparent;
	z-index: 2;
	margin-top: -9%;
	color: #774BA3;
}

.carousel-text {
	position: absolute;
	z-index: 1;
	display: table;
	width: 30%;
	height: 70%;
	background: black;
	color: white;
	padding: 5px;
	mix-blend-mode: multiply;
	opacity: 1;
	border-radius: 18px;
}

.scopeOfPractice {
	.card {
		border: none;
		text-align: center;
	}

	.card-deck {
		padding: 0.5rem 0;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.card-title {
		color: #774BA3;
		font-weight: bold;
		font-size: 2.3rem;
	}
	padding-bottom: 5rem;
}

#testimonial-carousel {
	padding-top: 5rem;
	padding-bottom: 3rem;
	background: linear-gradient(90deg, #D8B5FC, #B5DEFC);

	em{
		font-size: 2rem;
		font-weight: bold;
		color: white;
	}
}

#testimonial-carousel .carousel-inner .carousel-item {
	text-align: center;
	padding: 50px;
}

.testimonial-img {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

.testimonial-text {
	font-size: 3rem;
	line-height: 1.5;
	color: white;
}

.contact.scroll-headers {
	text-align: center;
	border: 8px dashed #D8B5FC;
	line-height: 3;

	.indexcontact-text {
		margin-top:5%;
		@media (max-width: 767px){
			margin-top:15%;
		}
		@media (min-width:768px) and (max-width:991px){
			margin-top: 15%
		}
	}

	.indexcontact-row .btn {
		background: linear-gradient(90deg, #B5DEFC, #D8B5FC);
		border: 1px solid #774BA3;
		margin-top: 1rem;
	}

	.indexcontact-row .btn a {
		color: #774BA3;
		text-decoration: none;
	}

	.indexcontact-row .btn a:hover {
		color: white;
		font-weight: 600;
	}

	.indexcontact-row .btn:hover {
		background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
	}
}

.indexcontact-text h3.description {
		font-size: 5rem;
		font-weight: bold; 

		@media (max-width: 767px) {
			font-size: 3rem;
		} 
}

.contact .scroll-text {
	background-image: url("../images/sounds3.jpg");
	min-height: 100%;
	height: 50vh;
	position: relative;
	opacity: 0.7;
	left: -.1%;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
//------------------------------------------ Services Area ----------------------------------------------//
.services-title {
	font-weight: bold;
	font-size: 4rem;
}

.services-card {
	border: none;
	text-align: center;
}

.services-card .card img {
	border-radius: 15px;
	align-content: center;
	background: #D8B5FC;
}
//------------------------------------------ Events Page ----------------------------------------------//
.gallery-header h1 {
	font-size: 8rem;
}

.header-section.events-header:before, {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	padding-top:0;
	background: url("../images/child3-2.jpg");
	background-size: 140vh;
	background-position:top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
	transform: scalex(1.5);
}

.events-header .navbar.navbar-expand-lg {
	background: transparent;
	z-index: 2;
	margin-top: -15%;
	color: #774BA3;
}

.event-contents {
	margin-top: 2%;
}

//------------------------------------------ Facilities Page ----------------------------------------------//
.header-section.facilities-header:before{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	padding-top:0;
	background: url("../images/toys2-2.jpg");
	background-size: 140vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
	transform: scalex(1.5);
}

.facilities-header .navbar.navbar-expand-lg {
	background: transparent;
	z-index: 2;
	margin-top: -15%;
	color: #774BA3;
}

.scopeOfPractice .card img {
	border-radius: 15px;
}

.scopeOfPractice .row .card {
	border: none;
	text-align: center;
}

//------------------------------------------ Gallery Page ----------------------------------------------//
.header-section.gallery-header:before, {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	padding-top:0;
	background: url("../images/letters3.jpg");
	// background: url("../images/letters.jpg");
	background-size: 140vh;
	background-position:bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
	transform: scalex(1.5);
}

.gallery-header .navbar.navbar-expand-lg {
	background: transparent;
	z-index: 2;
	margin-top: -15%;
	color: #774BA3;
}

.gallery-img {
	padding: 40px;
}

.gallery-img .lightbox img {
	width: 100%;
	margin-bottom: 30px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gallery-img .lightbox img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gallery-img img {
	border-radius: 4px;
}

.img-responsive {
	width: 100%;
	border-radius: 4px;
}

//------------------------------------------ Contacts Page ----------------------------------------------//
.header-section.contact-header:before, {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 80%;
	padding-top:0;
	background: url("../images/kids2-2.jpg");
	background-size: 140vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
	transform: scalex(1.5);
}

.contact-header .navbar.navbar-expand-lg {
	background: transparent;
	z-index: 2;
	margin-top: -19%;
	color: #774BA3;
}

.contact-content {
	margin-top: -10%;
}

.map-responsive{
	width: 100%;
	border-radius: 4px;
	margin-top:20%;
	transition: 0.2s ease-in-out;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.container .map-responsive:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}


.input-form {
	padding-bottom: 50px;
	margin-bottom: 0 !important;
	margin-top: -20px;
	border: 8px dashed #D8B5FC;

	.row {
		padding-left: 50px;
	}

	.btn {
		margin-left: 50px;
		background: linear-gradient(90deg, #D8B5FC, #B5DEFC);
		border: none;
	}

	.btn:hover {
		font-weight: 600;
		color: white;
		background: linear-gradient(90deg, #B5DEFC, #D8B5FC);
	}
}
//------------------------------------------ Media Queries ---------------------------------------------//
@media (max-width:767px) {

	nav.mobile-nav#mobile-nav{
		margin: 0;
		display: block;
		position: static;
	}
	
	.navbar.navbar-expand-lg {
		position: sticky;
		background: transparent;
		z-index: 2;
		margin-top: 5%;
		color: #774BA3;
	}

	a.navbar-brand span {
		display: none;
	}

	.navbar .brand-logo {
		width: 3.5rem;
	}

	button.navbar-toggler {
		margin-left: auto;
	}

	.navbar-nav {
		text-align: right;
	}

	.header-section .heading h1 {
		text-align: center;
		width: 100%;
		font-size: 3.2rem;
		margin-top: -20%;
		margin-left: 5%;
	}

	.header-section.contact-header:before, .header-section.gallery-header:before,
	.header-section.index-header:before, .header-section.facilities-header:before, .header-section.events-header:before {
		background-attachment: scroll;
		height: 70%;
	}

	#testimonial-carousel {
		padding-top: 2rem;
	}

	.testimonial-text {
		font-size: 1.5rem;
	}

	.mb-4 .row {
		padding-left: 0;
		text-align: center;
	}

	.indexcontact-text {
		margin-top:-5%;
		.description{
			font-size: 2rem;
			margin-top: -10%;
		}
	}

	.scopeOfPractice.services-card {
		margin-top: -15%
	}

	.facilities-cards {
		margin-top: -10%;
	}

	.header-section.gallery-header {
		margin-right: 50%;
	}
}


@media (min-width:768px) and (max-width:991px) {

	a.navbar-brand strong {
		display: inline;
	}

	.navbar-nav {
		text-align: right;
	}

	.header-section .heading h1 {
		text-align: center;
		width: 100%;
		font-size: 4rem;
		margin-top: -20%;
		margin-left: 5%;
	}

	.testimonial-text {
		font-size: 2.5rem;
	}

	#services .card {
		width: 35%;
	}

	section .indexcontact-row .indexcontact-text {
		margin-top:-5%;
		
	}

	.contact .scroll-text .indexcontact-text {
		margin-top:10%;
		h3.description{
			font-size: 4rem;
		}
	}

	.scopeOfPractice.services-card {
		margin-top: -10%
	}

	.facilities-cards {
		margin-top: -10%;
	}

}
